.mustcenter{
    text-align: center;
}

.pgaName{
    font-weight: bold;
    font-size: x-large;
}

.golfers{
    text-align: left;
}

.pgascore{
    text-align: right;
}

.golfrow{
    min-width: 500px;
}